.btn-circle {
    border-radius: 50%;
    padding: 1.2em 1.5em;
    border: 0px;
    font-size: 10px;
}

.primary-soft:hover {
    background-color: #f77b0b;
    color: white;
}

.primary-soft {
    background-color: rgba(247, 123, 11, 0.15);
    color: #f77b0b;
}

.danger-soft:hover {
    background-color: #f71b0b;
    color: white;
}

.danger-soft {
    background-color: rgba(247, 39, 11, 0.15);
    color: #f71b0b;
}
.scondary-soft:hover {
    background-color: #0bf728d4;
    color: white;
}

.scondary-soft {
    background-color: #0bf72836;
    color: #62600e;
}
.cursor-pointer {
    cursor: pointer;
}
